/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light:#f6f6f9;
    --dark:#000;
    --grey:#8a8989;
    --primary-dark:#5300ec;
    --primary-lil-dark:#8f59f3;
    --primary-light:#000000;
    --primary-lil-light:#4e4e4e4f;
    --special-text:#03adfc;
    --name-film:#fac104;
    --red:#a30404;
    --header:#016cb4;
    --loading-backgr:#232323;
}

body {
    background-color: var(--dark);
    font-family: "Roboto", sans-serif;
}
.loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:var(--loading-backgr);
    z-index: 99999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loader-container.fade-out {
    opacity: 0;
}
.loader-container img
{
    width: 500px;
}

/* Header Styles */
.header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--grey);
    color: var(--light);
    position: relative;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 50px 0px;
    font-size: 32px;
    font-family: cursive !important;
}

.header-top img 
{
    width: 125px;
}

.special-text {
    color: var(--special-text);
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto 50px;
    width: 1500px;
    background: var(--primary-lil-light);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(252, 251, 251, 0.2);
}

.header-bottom ul {
    list-style-type: none;
}

.header-bottom ul li {
    position: relative;
    display: inline-block;
}

.header-bottom ul li a {
    padding: 10px 20px;
    font-size: 20px;
    color: var(--light);
    transition: transform 0.3s;
    text-decoration: none;
}

.header-bottom ul li:hover::after,
.header-bottom ul li.active::after {
    transform: scaleX(1);
}

.header-bottom ul li::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--primary-dark) 0%, var(--special-text) 100%);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header-bottom ul li a:hover,
.header-bottom ul li.active a {
    color: var(--special-text);
    transform: scale(1.1);
}

.header-bottom form {
    display: flex;
    align-items: center;
    background: var(--light);
    border-radius: 15px;
    padding: 10px;
    margin-left: 30px;
    width: 350px;
}

.header-bottom input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background: var(--light);
}

.header-bottom button {
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: var(--light);
    color: var(--grey);
}

.header-bottom button i {
    transition: transform 0.3s;
}

.header-bottom button i:hover {
    transform: scale(1.3);
    color: var(--special-text);
    transition: transform 0.3s;
    cursor: pointer;
}



.max-l-box {
    max-width: 1500px;
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
 
}

/* .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} */

/* .col {
    flex-basis: calc(100% / 5);
    margin: 20px 20px;
} */
.subnav
{
    display: none;
}
.header-content
{
    color: white;
    margin-bottom: 20px;
}
.header-content h1 i
{
    margin-right: 20px;
}

.header-content p
{
    font-size:20px ;
}

#movie-list
{
    display: grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
    gap:48px;
}
.film-card {
    position: relative;
    transition: transform 0.3s, filter 0.3s;
    margin-bottom: 80px;
    width: 260px;
    height: 340px;
}

.film-poster {
    height: 100%;
    width:  100%;
    
}

.film-poster img {
    height: 340px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 25px ;
    border-top-left-radius: 25px;
}

.film-card:hover {
    transform: scale(1.05);
    filter: brightness(70%);
    cursor: pointer;
}

.film-name {
    width: 100%;
    background: rgba(68, 146, 248, 1);
    position: absolute;
    bottom: -43px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    border-bottom-left-radius: 25px ;
    border-bottom-right-radius: 25px;
}

.film-name p {
    color: var(--light);
    z-index: 1;
}

/* Pagination Styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.page-item {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background: var(--light);
}

.page-item:hover {
    background-color: var(--primary-lil-dark);
}

.page-item.active {
    background-color: var(--special-text);
    color: white;
    border: none;
}

.page-item.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.page-item {
    font-size: 14px;
    font-weight: bold;
}

.page-item.disabled {
    pointer-events: none;
}

.page-item:hover:not(.disabled):not(.active) {
    background-color: var(--grey);
    outline: none;
}

.suggestions {
    position: absolute;
    background: var(--light);
    border: 1px solid var(--grey);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 350px;
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background: var(--grey);
}

footer
{
	width: 100%;
	position: relative;
	bottom: 0;
	background: var(--primary-lil-light);
	padding: 100px 0 30px;
	margin-top: 140px;
	color:#fff;
}

.footer-row
{
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-col
{
	flex-basis: calc(100 / 4);
	padding: 20px;
}
.footer-col h3
{
    margin-bottom: 10px;
    font-size: 25px;
}
.footer-text 
{
    display: flex;
    text-align: center;
}
.footer-text h3
{
    font-family: cursive;
    
}
.footer-contact ul li
{
	list-style-type: none;
    margin-bottom: 10px;
}

.space
{
	margin-right: 10px;
}
.footer-send-social form
{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
}

.far{
	font-size: 18px;
	margin-right: 10px;
}

.footer-send-social form input 
{
	width: 100%;
	background: transparent;
	color: #fff;
	border: 0;
	outline: none;
}

.footer-send-social form button
{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: transform 0.3s;
}
.footer-send-social form button:hover
{
	transform: scale(1.4);
	color:var(--special-text);
    transition: transform 0.3s; 
    cursor: pointer;
}
.footer-social a
{
	color: white;
	transition: all 0.1s ease;
}
.footer-social a i
{
    transition: transform 0.3s;
}


.footer-social a i:hover
{
	transform: scale(1.2);
	color:var(--special-text);
    transition: transform 0.3s; 
    cursor: pointer;
}
.big-far{
	font-size: 36px;
	padding:0 10px 0 0;
}

.line
{
	border-top: solid 1px #686868 ;
	opacity: 0.4;
	margin-top: 30px;
}
.Copyright{
    text-align: center;
	font-size: 14px;
	padding-top: 30px;
}
.red-heart
{
    color: var(--special-text);
}
#search-form
{
    position: relative;

}
.movie-rcm
{
    display: none;
    position: absolute;
    left:0;
    top: 55px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: var(--light);
    z-index: 99;
    padding: 2px;
    border: 5px solid var(--dark);
}
.card-mvsg
{
    display: flex;
    align-items: center;
    background: #e6e3e3;
    margin-bottom: 8px;
    transition: transform 0.2s, filter 0.3s;

}
.card-mvsg:hover
{
    transform: scale(1.01);
    filter: brightness(70%);
    cursor: pointer;
}
.img-mvsg
{
    height: 125px;
    width: 101px;
}
.img-mvsg img
{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.name-mvsg p 
{
    color: var(--dark);
    margin-left: 10px;
    font-weight: bold;
}
.swiper
{

    width: 1500px;
    height: 843.75px;
    margin-bottom: 20px;
}

#slide-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--special-text); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--header);
  cursor:grab; 
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1500px) {
    .header {
        width: 100%;
    }

    .header-top {
        display: flex;
        align-items: center;
        margin: 20px 0px 50px 0px;
        font-family: cursive !important;
    }

    .header-top img {
        width: 80px;
    }

    .header-top h1 {
        font-size: 48px;
    }

    .header-bottom {
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding: 20px 20px;
    }

    .header-bottom ul {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .header-bottom ul li {
        width: auto;
        text-align: center;
        margin: 0 10px;
    }

    .header-bottom ul li a {
        display: block;
        width: 100%;
        font-size: 20px;
    }

    .header-bottom form {
        display: flex;
        width: auto;
    }

    .header-bottom input {
    }

    .header-bottom button {
        width: 50px;        
    }

    .header-content {
        padding: 0 20px;
        margin-top: 70px;
    }

    .footer-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-col {
        width: 45%;
        margin-bottom: 20px;
    }

    .movie-rcm {
        top: 60px;
    }

    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .max-l-box {
        width: 100%;
    }

    #movie-list {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 20px;
    }

    .film-card {
        position: relative;
        transition: transform 0.3s, filter 0.3s;
        margin-bottom: 40px;
        width: 200px;
        height: 270px;
    }

    .film-poster {
        height: 100%;
        width: 100%;
    }

    .film-poster img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .film-name {
        width: 100%;
        background: rgba(68, 146, 248, 1);
        height: 50px;
    }

    .film-name p {
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 13px;
    }

    .swiper {
        width: 100%;
        height: 540px;
        margin-bottom: 10px;
        padding: 0 20px !important;
    }

    #slide-img img {

    }

    .header-bottom ul li::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, var(--primary-dark) 0%, var(--special-text) 100%);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    .pagination
    {
        margin: 60px 0 0 0;
    }
    .footer-row {
        flex-direction: row;
        align-items: center;
    }

    .footer-col {
        width: 30%;
        margin-bottom: 30px;
    }
}



/* Mobile */
@media (max-width: 768px) {
    .header
    {
        width: 100%;
    }
    .header-top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 50px 0px;
        font-size: 32px;
        font-family: cursive !important;
    }
    .header-top img 
    {
        width: 100px;
    }
    .header-top h1
    {
        font-size: 30px;
    }
    .header-bottom {
        flex-direction: column;
        width:  100%;
    }

    .header-bottom ul {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .header-bottom ul li {
        width: 100%;
        text-align: center;
    }

    .header-bottom ul li a {
        display: block;
        width: 100%;
    }

    .header-bottom form {
        width: 50%;
        margin: 20px 0 0 0;
    }

    .header-bottom input {
        width: calc(100% - 50px);
    }

    .header-bottom button {
        width: 50px;
    }
    .header-content
    {
        padding: 0 20px;
        margin-top: 100px;
    }

    .footer-row {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        width: 80%;
        margin-bottom: 30px;
    }

    .movie-rcm {
        top: 70px;
    }
    .container
    {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .max-l-box
    {
        width: 100%;
    }
    /* .row
    {
        display: flex;
    }
    .col
    {
        flex-basis: calc(100% / 2);
        
    } */
    #movie-list
    {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        

    }
    .film-card
    {
        position: relative;
        transition: transform 0.3s, filter 0.3s;
        margin-bottom: 50px;
        width: 164px;
        height: 250px;
    }
    .film-poster {
        height: 100%;
        width:  100%;
        
    }
    
    .film-poster img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .film-name {
        width: 100%;
        background: rgba(68, 146, 248, 1);
        height: 50px;

    }
    .film-name p 
    {
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 13px;
    }

    .swiper
    {
    width: 100%;
    height: 236px;
    margin-bottom: 10px;
    }

    .header-bottom ul li::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, var(--primary-dark) 0%, var(--special-text) 100%);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    .pagination
    {
        margin: 60px 0 0 0;
        gap: 7px;
    }
    .page-item {
    padding: 7px 11.5px;
    border-radius: 10px;
    cursor: none;
    transition: background-color 0.3s, color 0.3s;
    background: var(--light);
    }
}

